.Headertext{
    color: #FFFFFF;
    font-family: 'Nunito';
    white-space: nowrap;
    font-size: 4vw;
    margin-left: 5%;
    margin-top: 5%;
  }
  .Subsectiontext{
    color: #32B07A;
    font-family: 'Nunito';
    white-space: nowrap;
    font-size: 3vw;
    margin-left: 5%;
    margin-top: 2%;
  }
.paragraphtext{
    color: #FFFFFF;
    font-family: 'Nunito';
    font-size: 1.8vw;
    margin-left: 5%;
    margin-right: 5%;

    margin-top: 2%;
  }
  .lineardividercalc{
    background-image: linear-gradient(to right, #165B10 34% ,#2DBA21 54%, #2FC122 100%);
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 1%;
    margin-bottom: 5%;
    height: 3px;
}

.ContainerforForm{
    color: #FFFFFF;
    font-family: 'Nunito';
    white-space: nowrap;
    font-size: 1.3vw;
    margin-left: 5%;
    margin-right: 80%;
  }

  .ContainerfordisplayAnwser{
    color: #FFFFFF;
    font-family: 'Nunito';
    white-space: nowrap;
    font-size: 1.9vw;
    margin-left: 5%;
    margin-right: 10%;
    background-color: #32B07A;
    border-radius: 10px;
  }

  .Submitbuttoncalc{
    border: 2px solid transparent;
    border-radius: 100px;
    background: 
    linear-gradient(#151515,#151515) padding-box,
    linear-gradient(to right, #165B10 34% ,#2DBA21 54%, #2FC122 100%) border-box;
    font-size: 1.3vw;
    width: 60%;
  }

  
  
