.HeadertextCalculator{
    color: #FFFFFF;
    font-family: 'Nunito';
    white-space: nowrap;
    font-size: 4vw;
    margin-left: 5%;
    margin-top: 5%;
  }
  .Subsectiontextcalc{
    color: #32B07A;
    font-family: 'Nunito';
    white-space: nowrap;
    font-size: 3vw;
    margin-left: 5%;
    margin-top: 2%;
  }
.paragraphtextcalc{
    color: #FFFFFF;
    font-family: 'Nunito';
    font-size: 1.8vw;
    margin-left: 5%;
    margin-right: 5%;

    margin-top: 2%;
  }
  .lineardividercalc{
    background-image: linear-gradient(to right, #165B10 34% ,#2DBA21 54%, #2FC122 100%);
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 1%;
    margin-bottom: 5%;
    height: 3px;
}

.ContainerforForm{
    color: #FFFFFF;
    font-family: 'Nunito';
    white-space: nowrap;
    font-size: 1.3vw;
    margin-left: 5%;
    margin-right: 80%;
  }

  .ContainerfordisplayAnwser{
    color: #FFFFFF;
    font-family: 'Nunito';
    white-space: nowrap;
    font-size: 1.9vw;
    margin-left: 5%;
    margin-right: 10%;
    background-color: #32B07A;
    border-radius: 10px;
  }
  .ContainerfordisplayAnwserHeading{
    font-size: 1.8vw;
    margin-left: 2%;

  }
  .Submitbuttoncalc{
    border: 2px solid transparent;
    border-radius: 100px;
    background: 
    linear-gradient(#151515,#151515) padding-box,
    linear-gradient(to right, #165B10 34% ,#2DBA21 54%, #2FC122 100%) border-box;
    font-size: 1.3vw;
    width: 60%;
  }

  
  
  .error{
    color: red;
    font-size: 2vw;
    
  }

  @media (max-width: 480px) {

    .HeadertextCalculator{
      
      font-size: 9vw;
      white-space: normal;
      margin-left: 0%;
      margin-right: 0%;
    }
    .lineardividercalc{
      margin-right: 0%;
     margin-left: 0%
    }
    .Subsectiontextcalc{
      font-size: 8vw;
      white-space: normal;
      margin-left: 0%;
      margin-top: 0%;
    }
    .paragraphtextcalc{
      margin-left: 0;
      margin-right: 0;
      font-size: 5vw;
      white-space: pre-wrap;
    
    }
    .ContainerforForm{
      margin-left: 0%;
      margin-right: 50%;
      font-size: 5vw;
    }
    .Submitbuttoncalc{
      font-size: 5vw;
      width: 60%;
    }
    .error{
      font-size: 5vw;
      white-space: normal;
    }
    .ContainerfordisplayAnwser{
      margin-left: 0%;
      margin-right: 0%;
      font-size: 5vw;
      white-space: inherit;

    }
    .ContainerfordisplayAnwserHeading{
      
      font-size: 5vw;
      white-space: inherit;
    }

  }