.Headertext{
    color: #FFFFFF;
    font-family: 'Nunito';
    white-space: nowrap;
    font-size: 4vw;
    margin-left: 5%;
    margin-top: 5%;
  }


  .lineardivider{
    background-image: linear-gradient(to right, #165B10 34% ,#2DBA21 54%, #2FC122 100%);
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 8%;
    margin-bottom: 5%;
    height: 3px;
}


  .ContainerforFAQ{
    color: #0D0E11;
    font-family: 'Nunito';
    white-space: nowrap;
    font-size: 2vw;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 2%;
    background-color: #32B07A;
    border-radius: 10px;
  }

  .Submitbutton1{
    border: 2px solid transparent;
    background: 
    linear-gradient(#151515,#151515) padding-box,
    linear-gradient(to right, #165B10 34% ,#2DBA21 54%, #2FC122 100%) border-box;
    position: absolute;
    right: 11%;
    font-size: 1.3vw;
    width: auto;
    height: auto;
  }

  .Anwsertext{
    color: #FFFFFF;
    font-family: 'Nunito';
    font-size: 2vw;
    margin-left: 1%;
    margin-right: 10%;
    margin-top: 2%;
    white-space: pre-line;

  }

  @media (max-width: 480px) {
    .Headertext{
      font-size: 9vw;
      white-space: normal;
      margin-left: 0%;
      margin-right: 0%;
    }
    .lineardivider{
      margin-right: 0%;
     margin-left: 0%
    }
    .ContainerforFAQ{
      margin-bottom: 5%;
      margin-left: 0%;
      margin-right: 0%;
      font-size: 5vw;
      white-space: normal;
      
    }
    .Anwsertext{
      font-size: 4vw;
     }

  }