     


.container {
  position: relative;
  margin-top: 50px;
  
}


.responsivehomepage {
width: 100%;
height: 75vh;
}







.top-lefttext {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    left: 45%;
}

.responsivebutton {
  width: 20%;
  height: auto;
  }
.top-leftbutton {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    left: 33%;
}


  .Sectiontext{
    color: #ffffff;
    font-family: 'Nunito';
    white-space: nowrap;
    font-size: 3vw;
  }
  @media (max-width: 480px) {

    .Sectiontext{
      white-space: normal;
      font-size: 6vw;
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-100%, -50%);
      left: 100%;
    }
  
    .responsivebutton {
      width: 70%;
      height: auto;
      }
      .top-leftbutton {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        left: 33%;
    }
  }

