.HeadertextPractice{
    color: #FFFFFF;
    font-family: 'Nunito';
    white-space: nowrap;
    font-size: 4vw;
    margin-left: 5%;
    margin-top: 5%;
  }


.lineardividerQuiz{
  background-image: linear-gradient(to right, #165B10 34% ,#2DBA21 54%, #2FC122 100%);
  margin-right: 80px;
  margin-left: 80px;
  margin-top: 1%;
  margin-bottom: 5%;
  height: 3px;
}
.ContainerforQuestion{
  color: #0D0E11;
  font-family: 'Nunito';
  white-space: nowrap;
  font-size: 2vw;
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 2%;
  background-color: #32B07A;
  border-radius: 10px;
}

@media (max-width: 480px) {

  .HeadertextPractice{
      
    font-size: 9vw;
    white-space: normal;
    margin-left: 0%;
    margin-right: 0%;
  }

  .lineardividerQuiz{
    margin-right: 0%;
   margin-left: 0%
  }
  .ContainerforQuestion{
    margin-left: 0%;
    margin-right: 0%;
    font-size: 3.4vw;
    white-space: pre-wrap;  
    border-radius: 4px;

  }
}



  


  .Submitbutton{
    border: 2px solid transparent;
    background: 
    linear-gradient(#151515,#151515) padding-box,
    linear-gradient(to right, #165B10 34% ,#2DBA21 54%, #2FC122 100%) border-box;
    font-size: 1.3vw;
    width: 15%;
    margin-left: 84%;
    margin-top: 5%;
  }

  