.Headertext{
    color: #FFFFFF;
    font-family: 'Nunito';
    white-space: nowrap;
    font-size: 4vw;
    margin-left: 5%;
    margin-top: 5%;
  }
  .Subsectiontext{
    color: #32B07A;
    font-family: 'Nunito';
    white-space: nowrap;
    font-size: 3vw;
    margin-left: 5%;
    margin-top: 2%;
  }
.paragraphtext{
    color: #FFFFFF;
    font-family: 'Nunito';
    font-size: 1.8vw;
    margin-left: 5%;
    margin-right: 5%;

    margin-top: 2%;
  }
.lineardivider{
    background-image: linear-gradient(to right, #165B10 34% ,#2DBA21 54%, #2FC122 100%);
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 20px;
    height: 3px;
}

.container {
  position: relative;
  margin-top: 50px;
  
}
.responsive {
  width: 100%;
  height: auto;
  }
  

