.Websitebackground{
background-color: #0D0E11;
top: 0;
bottom:0;
right: 0;
left: 0;
position: sticky;
}
.Navigationbar{
  height: 80px;
  position: relative;
}
.Navigationtext{
color: #FFFFFF;
font-family: 'Nunito';
white-space: nowrap;
font-size: 1.4vw;
}


.Brandlogo {
  width: 100%;
  max-width: 150px;
  height: auto;
  }





.testingclass{
position: relative;
top: 20px;
margin-right: 150px;


}

.testingclass:hover{
  position: relative;
  background-color:#32B07A;
  border-radius: 10px;
}

.testing{
  
  border-bottom: 2px solid #32B07A; 
  stroke-width: 2px;
  }





  .Containerchecker{
background-color:#32B07A ;
margin-right: 80px;
margin-left: 80px;
margin-top: 8px;
height: 3px;

    }
  
















.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0f9716;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
