.Websitebackground{
background-color: #0D0E11;
top: 0;
bottom:0;
right: 0;
left: 0;
position: fixed;
margin :0;
}
.content{
  position: relative; 
  padding: 20px; 

}

.Navigationbar{
  height: 80px;
  position: relative;
}
.Navigationtext{
color: #FFFFFF;
font-family: 'Nunito';
white-space: nowrap;
font-size: 1.4vw;
}


.Brandlogo {
  width: 100%;
  max-width: 150px;  
  height: auto;   
  margin: 20px ;
}

@media (max-width: 768px) {
  .Brandlogo {
    max-width: 120px; 
    margin: 10px auto; 
  }
}

.Containerchecker{
  background-color:#32B07A ;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 2%;
  height: 0.4vh;
  
      }

@media (max-width: 480px) {
  .Brandlogo {
    max-width: 100px; 
    margin: 5px auto; 
  }
  .Containerchecker{

    margin-right: 0;
    margin-left: 0;
  }

  
}





.testingclass{
position: relative;
top: 20px;
margin-right: 150px;
}
@media (max-width: 1200px) {
  .testingclass{
    margin-right: 10%;
  }
  .Navigationtext{
    font-size: 6vw;
  }
  .testingclass:hover{
    background-color:0;
  }
  .navcollapse{
    background: linear-gradient(#001012, #006B78);
    padding: 15px ;
    border-radius: 10px ;
    border: 1px solid #333 !important; /* Border for better visibility */
  
  }
}

.testingclass:hover{
  position: relative;
  background-color:#32B07A;
  border-radius: 10px;
}

.testing{
  
  border-bottom: 2px solid #32B07A; 
  stroke-width: 2px;
  }








  
















.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0f9716;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
